
mat-card{
    width: 984px;
    border-radius: 4px;
    box-shadow: 0 0 9px 0 #eeeeee;
    background-color: #ffffff;
    margin : auto ; 
    margin-top : 20px ;

    
}
#matCardLabel p{
    font-family: Almarai;
    font-size: 16px; 
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #465061;
}
form{
    background-color: #ffff;
}
.rightDiv{
    float : right
}
.leftDiv{
    float : left
}
.row{
    margin : 10px ;
}

.imageDiv , .inputsDiv{
  height : 170px 
  
}
.imageControl{
   
    height: 130px;
    border-radius: 4px;
    border: solid 1px #e1e5e9;
    background-color: #ffffff;
}
.image-preview{
    width: 8rem ;
    height: 8rem;
    border-radius: 4px;
    background-color: #f1f2f4;
    margin : -6px ;
    /* background-image: "../../assets/images/avatar2.jpg"; */
   
}

.image-preview img {
  height: 100%;
  
}
 .browseBtn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e1e5e9;
    background-color: #ffffff;
    margin-top: 26px;
  
} 
input[type="file"] {
    visibility: hidden;
  }
input {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e1e5e9;
    background-color: #ffffff;
 
}
mat-select{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e1e5e9;
    background-color: #ffffff;    
}


button[ type="submit"]{
    width: 94px;
    height: 50px;
    border-radius: 4px;
    background-color: #46b770;
    font-family: Almarai;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#ffff ;
    margin : 10px 
    

}
.buttons {
    display:flex;
    justify-content:flex-end;
    align-items:center; 
  } 
  mat-tab-group {
  background-color: #2977ff; 
  margin : 10px ;   
  }
  .mat-tab-label{
    color:white;
  }
  label , mat-radio-button{
    font-family: Almarai;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #465061;
  }
 




