<mat-card>
    <div id="matCardLabel">
        <p>التسجيل للمصريين</p>
    </div>
    <div id="matCardContent">
        <mat-tab-group>
            <mat-tab class="mat-tab-label" label="المعلومات الشخصية">
                <form [formGroup]="form" (submit)="addRegistration()" novalidate>
                    <div class="container-fluid">
                        <div class="row firstDiv">
                            <div class="col-sm-9 col-md-8 col-lg-8 inputsDiv rightDiv">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 rightDiv">
                                        <md-input-container>
                                            <label>الاسم باللغة العربية</label>
                                            <input  dir="rtl" matInput required arabicAlphaOnly type="text" class="form-control"
                                            formControlName="arabicName" id="arabicName" (change)="writeName('arabicName')">
                                            <mat-error *ngIf="errorArabicMessage">الاسم باللغة العربية ثلالثة اسماء او اكثر</mat-error>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 leftDiv">
                                        <md-input-container>
                                            <label>الاسم باللغة الانجليزية</label>
                                            <input dir="ltr" matInput required englishAlphaOnly type="text" 
                                            formControlName="englishName" (change)="writeName('englishName')">  <br>
                                            <mat-error *ngIf="errorEnglishMessage">الاسم باللغة الانجليزية ثلالثة اسماء او اكثر</mat-error> 
                                        </md-input-container>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 rightDiv">
                                        <label>رقم بطاقة الرقم القومى</label>
                                        <input matInput required numbersOnly ng-maxlength="14" type="text" 
                                        formControlName="nationalId" (change)="writeName('nationalId')"><br>
                                        <mat-error *ngIf="idErrorMessage">رقم البطاقة لابد ان يكون 14 رقم</mat-error> 
                                           
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 leftDiv">
                                        <label>جهة صدور بطاقة الرقم القومى</label>
                                        <input matInput required type="text"
                                        formControlName="nationalIdCountry">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-4 col-lg-4 imageDiv leftDiv">
                                <label class="imageText">الصورة الشخصية</label>
                                <div class="imageControl">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-4 col-lg-4 image-preview rightDiv ">
                                                <img  [src]="imagePreview"  src="../../assets/images/avatar2.jpg">
                                        </div>
                                        <div class="col-sm-7 col-md-6 col-lg-6 leftDiv">
                                            <button   class="browseBtn" type="button" (click)="filePicker.click()">ارفاق الصورة</button>
                                             <input type="file" #filePicker (change)="onImagePicked($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row secondDiv">
                            <div class="col-sm-4 col-md-4 col-lg-4  rightDiv">
                                <md-input-container>
                                    <label>تاريخ صدور بطاقة الرقم القومى </label>
                                    <input matInput [matDatepicker]="picker"
                                    formControlName="nationalIdDate" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </md-input-container>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4  rightDiv">
                                <md-input-container>
                                    <label>محل الميلاد</label><br>
                                    <mat-select  formControlName="countryOfBirth">
                                        <mat-option *ngFor="let country of countriesOfBirth" [value]="country.Name">
                                            {{country.Name}}
                                        </mat-option>
                                    </mat-select>

                                </md-input-container>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 leftDiv">
                                <md-input-container>
                                    <label>تاريخ الميلاد </label><br>
                                    <input matInput [matDatepicker]="picker2" 
                                    formControlName="DateOfBirth" >
                                   
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row thirdDiv">
                            <div class="col-sm-4 col-md-4 col-lg-4  rightDiv">
                                <md-input-container>
                                    <label>الجنس</label><br>

                                    <mat-radio-group aria-label="Select an option"  formControlName="gender" >
                                        <mat-radio-button *ngFor="let gender of genders" [value]="gender.Name"
                                            (change)="radioChange($event,sort)">{{gender.Name}}</mat-radio-button>

                                    </mat-radio-group>
                                </md-input-container>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4  rightDiv">
                                <md-input-container *ngIf="showInputs">
                                    <label>الموقف من التجنيد</label>
                                    <mat-select  formControlName="militOption" >
                                        <mat-option *ngFor="let service of militrayServices" [value]="service.Name">
                                            {{service.Name}}
                                        </mat-option>
                                    </mat-select>
                                </md-input-container>

                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4  leftDiv">
                                <md-input-container *ngIf="showInputs">
                                    <label>تاريخ الموقف من التجنيد</label>
                                    <input matInput [matDatepicker]="picker3" formControlName="militrayServiceDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div class=" row fourthDiv">
                            <div class="col-sm-12 col-md-12 col-lg-12  rightDiv">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin" [(indeterminate)]="indeterminate"
                                        [labelPosition]="labelPosition" [disabled]="disabled" formControlName="registerBefore">
                                        <label>قم بتفعيل هذا الاختيار ان كان قد سبق لك التسجيل فى برنامج كلية النانو
                                            تكنولوجى</label>
                                    </mat-checkbox>
                                </section>
                            </div>
                        </div>
                        <div class=" row fifthDiv">
                            <div class="col-sm-12 col-md-12 col-lg-12  leftDiv">
                                <div class='buttons'>
                                    <button mat-raised-button type="submit">التالى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="الدرجةالعلميةوالعمل"> Content 2 </mat-tab>
            <mat-tab label="معلومات الاتصال الشخصية"> Content 3 </mat-tab>
            <mat-tab label="التأكيد والارشادات"> Content 4</mat-tab>
        </mat-tab-group>
    </div>
</mat-card>