<mat-card>
    <form (submit)="addRegistration(registerForm)" #registerForm="ngForm">
        <div>
            <mat-form-field>
                الاسم باللغه العربيه:<br>
                <input matInput required arabicAlphaOnly type="text" ngModel name="arabicName" #arabicname="ngModel">
            </mat-form-field>

            <mat-form-field>
                الاسم باللغه الانجليزيه:<br>
                <input matInput required englishAlphaOnly type="text" ngModel name="englishName" #englishName="ngModel">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                رقم بطاقة الرقم القومى :<br>
                <input matInput required numbersOnly ng-maxlength="14" type="text" ngModel name="nationalId"
                    #nationalId="ngModel">
            </mat-form-field>
            <mat-form-field>
                جهة صدور بطاقة الرقم القومى :<br>
                <input matInput required type="text" ngModel name="nationalIdCountry" #nationalIdCountry="ngModel">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                تاريخ صدور بطاقة الرقم القومى :<br>
                <input matInput [matDatepicker]="picker" ngModel name="nationalIdDate" #nationalIdDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                محل الميلاد:<br>
                <input matInput required type="text" ngModel name="CountryOfBirth" #CountryOfBirth="ngModel">
            </mat-form-field>
            <label id="example-radio-group-label">النوع</label>

            <mat-radio-group aria-label="Select an option" ngModel name="gender" #gender="ngModel">
                <mat-radio-button *ngFor="let gender of genders" [value]="gender.Name"
                (change)="radioChange($event,sort)" >{{gender.Name}}</mat-radio-button>

            </mat-radio-group>
        </div>
        <div>
            <mat-form-field  *ngIf="showInputs"  >
                الموقف من التجنيد:<br>
                <mat-select ngModel name="militOption" #militOption="ngModel">
                    <mat-option *ngFor="let service of militrayServices" [value]="service.Name">{{service.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="showInputs" >
                تاريخ الموقف من التجنيد :<br>
                <input matInput [matDatepicker]="picker2" ngModel name="militrayServiceDate"
                    #militrayServiceDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                القسم المراد الالتحاق به :<br>
                <mat-select ngModel name="programRegister" #programRegister="ngModel">
                    <mat-option *ngFor="let program of programs" [value]="program.Name">
                        {{program.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <section class="example-section">
                <mat-checkbox class="example-margin" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                    [disabled]="disabled" ngModel name="registerBefore" #registerBefore="ngModel">
                    قم بتفعيل هذا الاختيار ان كان قد سبق لك التسجيل فى برنامج كلية النانو تكنولوجى
                </mat-checkbox>
            </section>
        </div>
        <div class='buttons'>
            <button mat-raised-button type="submit">التالى</button>
        </div>
    </form>
</mat-card>
