.content {
  height: 400px;
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.73));
  }
  .content img {
    height: 400px;
    width : 100% ;
  }
 /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 65px;
    right: 30px; 
    color: #3db166;
    font-size: 22px;
  }
  .bottom-right-register{
    position: absolute;
    bottom: 30px;
    text-align : right ;
     right: 30px; 
    font-size: 32px;
  }