

#first-toolBar{
    background-color: #0b2d69;
    height: 54px;
}
.facultyLogo {
    float: right;
    width:33.33333%;
    text-align:right;
}
.facultyLogo p {
    font-family: Almarai;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin-right : 20px ;
    margin-top : 5px ;
}
 .facultyControl{
    float: left;
    width:33.33333%;
    text-align:left;
    margin-left:20px
}
.facultyControl a{
  
    width: 85px;
    height: 17px;
    font-family: Almarai;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #99bffe;
  
}

#second-toolBar{
    background-color: #ffffff;
  height: 54px;
}
.about-faculty a{
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0b2d69;
}

.toolbar-left{
    float: left;
    width:33.33333%;
    text-align:left;
    margin-left:20px
}
.toolbar-right{
    float: right;
    width:33.33333%;
    text-align:right;
}
.toolbar-left .login-label  {
   
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3db166;
}
.toolbar-left .icon{
    padding: 10px;
    color: #3db166;
}

