<mat-toolbar id="first-toolBar">
  <div>
    <div class="facultyLogo">
      <p>كلية النانو تكنولوجى <br>للخريجين</p>
    </div>
    <div class="facultyControl">
      <mat-toolbar-row>
        <div>
          <a  mat-button>الاسئلة الشائعة</a>
          <a  mat-button>الخريجين</a>
          <a  mat-button>الاعلام</a>
          <a  mat-button>عربى</a>
          <a  mat-button> <i class="fa fa-search"></i></a>
        </div>
      </mat-toolbar-row>
    </div>
  </div>
</mat-toolbar>


<mat-toolbar id="second-toolBar">
    <div>
      <div class="toolbar-left">
          <i class="fa fa-user icon"></i>
          <span class="login-label">الدخول</span>
      </div>
      <div class="toolbar-right">
        <mat-toolbar-row>
          <div class="about-faculty">
            <a  mat-button>عن الكلية</a>
            <a  mat-button> التقديم</a>
            <a  mat-button> الدراسه</a>
            <a  mat-button>البحث العلمى</a>
            <a  mat-button> الاخبار</a>
            <a  mat-button> الفعاليات</a>
            <a  mat-button> الاتصال</a>
          </div>
        </mat-toolbar-row>
      </div>
    </div>
  </mat-toolbar>